::selection {
  background: #B8F3E6;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  padding: 2rem;
  margin: 0 auto;
  text-align: center;
}

textarea {
  outline: none;
  border-radius: 0.5rem;
  border: 1px solid #d1ccc0;
  padding: 0.5rem;
  resize: none;
  font-family: 'Roboto',
    sans-serif;
  line-height: 24px;
  font-size: 1rem;
}

button {
  display: block;
  margin-left: 65.5rem;
  margin-top: 1rem;
  padding: 0.8rem 1.8rem;
  background: #EA2027;
  color: white;
  outline: none;
  border: none;
  border-radius: 0.4rem;
  font-size: 1rem;
  cursor: pointer;
}